    body {
        background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
        font-family: Arial, Helvetica, sans-serif;
        padding: 30px 60px 30px 60px;
    }
    
    .container {
        padding: 30px;
        /* height: 100vh; */
    }
    
    .card-body {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        flex: 1 1 auto;
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }
    /* Responsive columns - one column layout (vertical) on small screens */
    
    .card {
        margin: 20px;
    }
    
    .node {
        width: 120px;
    }
    
    .logo {
        margin: 30px;
    }
    
    .pic {
        width: 150px;
        /* height: 200px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
        align-content: center;
        padding: 20px;
        margin: 20px;
    }